:root {
    --primary-light: linen;
    --primary-dark: #1F2937;
    --secondary-light: #1F2937;
    --secondary-dark: linen;
    --secondary-light-hover: #526d92;
    --secondary-dark-hover: beige;
    --echt-a-sketch: #EF5854;
}

.dark-mode {
    background-color: var(--primary-dark);
    color: var(--secondary-dark);
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    min-height: 100vh;
    width: 1100px;
    margin: 0 auto;
}

header,
footer {
    display: flex;
    align-items: center;
    height: 70px;
}

header{
    justify-content: space-between;
    padding: 0 20px;
}

footer{
    justify-content: center;
    font-weight: lighter;
}

.header-logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-light-hover);
}

.botao-tema{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: var(--secondary-light);
    display: flex;
    align-items: center;
    gap: 2px;
}

main{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.grid-pequeno, .grid-medio, .grid-grande {
    border-radius: 10px 10px 0px 0px;
    border: solid var(--echt-a-sketch);
    border-width: 100px 100px 6px 100px;
    width: 806px;
    height: 526px;
    background-color: #fff;
    display: inline-grid;
    grid-template-columns: repeat(25, 0fr);
    overflow: hidden;
}

.grid-pequeno{
    grid-template-columns: repeat(13, 0fr);
}

.grid-medio{
    grid-template-columns: repeat(25, 0fr);
}

.grid-grande{
    grid-template-columns: repeat(46, 0fr);
}

.grid-pequeno .square{
    height: 63.3px;
    width: 59.47px;
    border: 1px solid gray;
}

.grid-medio .square{
    height: 32.6px;
    width: 29.73px;
    border: 1px solid gray;
}

.grid-grande .square {
    height: 15.1px;
    width: 15px;
    border: 1px solid gray;
}

.controles {
    margin: auto;
    border-radius: 0 0 10px 10px;
    background-color: var(--echt-a-sketch);
    width: 1006px;
    height: 100px;
    max-height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-dark);
    font-size: larger;

}