:root{
    --echt-a-sketch: #EF5854;
}

:root.light {
    --primary: linen;
    --secondary: #1F2937;
    --secondary-hover: #526d92;
}

:root.dark {
    --primary: #1F2937;
    --secondary: linen;
    --secondary-hover: beige;
}

body {
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    min-height: 100vh;
    width: 1100px;
    margin: 0 auto;
}


header, footer{
    display: flex;
    align-items: center;
    height: 70px;
}

header{
    justify-content: space-between;
    padding: 0 20px;
}

footer{
    justify-content: center;
    font-weight: lighter;
}

.header-logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--secondary-hover);
}

.botao-tema{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    gap: 2px;
}

main{
    flex:1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.grid {
    border-radius: 10px 10px 0px 0px;
    border: solid var(--echt-a-sketch);
    border-width: 100px 100px 6px 100px;
    width: 800px;
    height: 450px;
    background-color: #fff;
    display: grid;
}

.pequeno{
    grid-template-rows: repeat(9, 50px);
    grid-template-columns: repeat(16, 50px);
}

.medio{
    grid-template-rows: repeat(18, 25px);
    grid-template-columns: repeat(32, 25px);
}

.grande{
    grid-template-rows: repeat(36, 12.5px);
    grid-template-columns: repeat(64, 12.5px);
}

.controles {
    border-radius: 0 0 10px 10px;
    background-color: var(--echt-a-sketch);
    width: 1000px;
    height: 100px;
    max-height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: linen;
    font-size: larger;

}

.controles p{
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 26px;
}

.botao-controles {
    background-color: linen;
    border: 4px linen solid;
    border-radius: 30%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: var(--echt-a-sketch);
    padding: 10px;
    width:100px;
    gap: 2px;
}

#botao-reset{
    border-radius: 0px;
    color: #1F2937;
    background-color: white;
    margin-left: 100px;
}